body {

  // General styling
  color: black;
  margin: 0;
  //Fonts
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 21px;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;


  // Navigation bar

  // Header image
  header.top-photo {
    background-size: cover;
    background-image: url("../resources/headerImage.jpg");
    background-position: center center;
  }
  @media (min-width: 992px) {
    header.top-photo {
      height: 100vh;
    //  min-height: 650px;
    }

  }
  @media (max-width: 991px) {
    header.top-photo {
      padding-top: 10rem;
    }
  }

  // About me
  .about-me {
    display: flex;
    margin: 20px;
    text-align: center;

    .photo {
      height: 100vh;
      border-radius: 20px;
      background-size: cover;
      background-position: center center;
      background-image: url("../resources/headerImage.jpg");
    }

    @media (min-width: 992px) {
      .photo {
        height: 90vh;
      }

    }
    @media (max-width: 991px) {
      .photo {
        height:50vh;
     //   padding-top: 10rem;
      }
    }

    .container {
      text-align: center;
      padding-top: 20px;
      padding-left: 100px;
      -webkit-font-smoothing: antialiased;
      font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;

      .header {
        font-size: x-large;
      }
      .info {
        text-align: left;
        padding-top: 5%;
        li {
          display: block;
        }
      }
    }
  }

  // Projects
  .projects {
  }

}